.wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
.userCard {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 700px;
  .avatar {
    display: flex;
    justify-content: center;
    height: auto;
    img {
      display: flex;
      width: 100%;
      height: auto;
      max-width: 150px;
    }
  }
}
