.repoListItem,
a {
  display: flex;
  width: 100vw;
justify-content: center;
  text-decoration: none;
  list-style: none;
}
.repoItem {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  color: black;
}
