.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 30px 20px;

  form {
    display: flex;
    justify-content: center;
    width: 100%;
    label {
      display: flex;
      width: 100%;
      justify-content: center;
      input {
        display: flex;
        height: 30px;
        width: 100%;
        max-width: 500px;
        border-width: 1px;
        border-radius: 5px;
      }
    }

    button {
      background-color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-width: 1px;
      border-left: none;
      height: 30px;
    }
  }
}
