.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 20px;

  form {
    display: flex;
    justify-content: center;
    width: 100%;

    input {
      display: flex;
      width: 100% !important;
      height: 30px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-width: 1px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button {
      background-color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-width: 1px;
      border-left: none;
      height: 30px;
    }
  }
}
