.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  .reposPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
  }
}
